.message {
  font-family: 'Sans-Serif';
  p {
    margin: 1em 0;
    white-space: pre-line;
  }
}

.datepicker {
  &:focus,
  &:focus-visible {
    z-index: 1;
    border-color: #63b3ed;
    box-shadow: 0 0 0 1px #63b3ed;
  }

  :global {
    input {
      background-color: transparent;
      border: 1px solid;
      border-color: inherit;
      padding-inline-start: var(--space-4);
      padding-inline-end: var(--space-4);
      border-radius: var(--radii-md);
      height: var(--sizes-10);
      width: 100%;

      &:focus,
      &:focus-visible {
        z-index: 1;
        border-color: #63b3ed;
        box-shadow: 0 0 0 1px #63b3ed;
      }
    }

    .react-datepicker__triangle {
      display: none;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day:hover {
      background-color: var(--colors-brand-500);
    }
  }
}

.all_on {
  margin: 0px 15px;
  display: flex;
  justify-content: space-between;
  transform: translateY(30px);
}
.tooth_content {
  margin-top: 75px;
  background-image: url('./assets/main.png');
  background-repeat: no-repeat;
  width: 1281px !important;
  height: 738px !important;
  position: relative;
  .slide_tooth_btn {
    position: absolute;
    top: 90px;
    display: flex;
    width: 100%;
    justify-content: center;
    .permanent_tooth_btn {
      color: white;
      background-color: #1a79c6;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 50px;
      border-radius: 50px;
      z-index: 9;
      cursor: pointer;
    }
    .child_tooth_btn {
      color: gray;
      background-color: #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 60px;
      border-radius: 50px;
      transform: translate(-80px, -5px);
      z-index: 2;
      padding: 10px !important;
    }
  }

  .top_teeth_image {
    img {
      position: absolute;
      width: auto;
      height: auto;
    }
  }
  .tooth_buttons_top {
    display: flex;
    // position: relative;
    position: absolute;
    top: 278px;
    left: 53px;

    .teeth_btn_top {
      z-index: 99;
      box-sizing: border-box;
      height: 158px;
      position: relative;
      background-color: transparent;
      cursor: pointer;
      z-index: 5;
      .implantaat_image_top {
        position: absolute;
        bottom: 33px;
        img {
          z-index: 99;
          width: 105px !important;
        }
      }
    }
  }
  .bottom_teeth_image {
    img {
      position: absolute;
      width: auto;
      height: auto;
    }
  }
  .tooth_buttons_bottom {
    display: flex;
    position: absolute;
    top: 450px;
    left: 74px;
    .teeth_btn_bottom {
      box-sizing: border-box;
      height: 129px;
      position: relative;
      background-color: transparent;
      cursor: pointer;
      z-index: 5;
      .implantaat_image_bottom {
        position: absolute;
        top: 27px;
        img {
          z-index: 99;
          width: 105px !important;
          // object-fit: fill;
        }
      }
    }
  }
}
