.message {
  p {
    margin: 1em 0;
    white-space: pre-line;
  }
}
.all_on {
  margin: 0px 15px;
  display: flex;
  justify-content: space-between;
  transform: translateY(30px);
}
.tooth_content {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  background-image: url('./assets/tooth.png');
  background-repeat: no-repeat;
  width: 900px !important;
  height: 640px;
  object-fit: scale-down !important;
  position: relative;
}
